---
import Slide from "../components/Slide.astro";
---

<Slide>
  <h1>Savez-vous <i>vraiment</i> ce qu'est la <strong>couleur</strong> ?</h1>
	<p>Découvrez la science derrière les pixels 🎨</p>
</Slide>

<style lang="scss">
	h1 {
		font-size: 4rem;
		font-weight: 400;
	}
</style>
