<div class="color yellow">
	<span class="preview"></span>
	<span class="wavelength">580nm</span> &RightArrow;
	<strong class="value">0.238, 0.129, 0.000</strong>
</div>

<div class="color orange">
	<span class="preview"></span>
	<span class="wavelength">620nm</span> &RightArrow;
	<strong class="value">0.285, 0.017, 0.000</strong>
</div>

<style lang="scss">
	.color {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		margin-block: 3rem;
		font-size: 2.5rem;
	}

	.wavelength {
		font-size: 1em;
	}
	.value {
		font-size: 1.3em;
	}

	.preview {
		display: inline-block;
		width: 1.5em;
		aspect-ratio: 1;
		border-radius: 100%;

		.yellow & {
			background: #ffbe00;
		}
		.orange & {
			background: #ea5602;
		}
	}
</style>
