---
import cellsAndBrain from "./assets/cells.png";
---

<div class="container">
	<img class="cells" data-src={cellsAndBrain.src} />
	<a href="https://blog.ophtalmique.ch/2021/03/04/cones-batonnets/">
		https://blog.ophtalmique.ch/2021/03/04/cones-batonnets/
	</a>
</div>

<style>
	.container {
		height: 100dvh;
		display: grid;
		place-items: center;
	}
	img.cells {
		width: min(90%, 1600px);
	}
	img.cells + a {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		font-size: 0.75rem;
		color: currentColor;
		opacity: 0.3;
	}
</style>
