---
import Slide from "../../components/Slide.astro";
import Cells from "./Cells.astro";
import LMS from "./cones/LMS.svelte";
import Waves from "./waves/WaveLambda.svelte";
import SPD from "./spd/SPD.svelte";
import CellsBrain from "./CellsBrain.astro";
import WaveIntensity from "./waves/WaveIntensity.svelte";
---

<Slide>
	<h1>Qu'est-ce que la couleur ?</h1>
</Slide>

<Slide>
	<Waves client:visible />
</Slide>

<Slide>
	<Cells />
</Slide>

<Slide>
	<LMS client:visible />
</Slide>

<Slide>
	<CellsBrain />
</Slide>

<Slide>
	<SPD client:visible />
</Slide>

<Slide>
	<WaveIntensity client:visible />
</Slide>
