---
import Layout from "../layouts/Layout.astro";
import Intro from "../slides/0-intro/Intro.astro";
import Title from "../slides/Title.astro";
---

<Layout title="Savez-vous vraiment ce qu'est la couleur ? 🎨">
	<main class="reveal">
		<div class="slides">
			<Title />
			<Intro />
		</div>
	</main>
</Layout>
