---
import Layout from "../layouts/Layout.astro";
import Intro from "../slides/0-intro/Intro.astro";
import WhatIsColor from "../slides/1-what-is-color/WhatIsColor.astro";
import RepresentationOfColors from "../slides/2-representation-of-colors/RepresentationOfColors.astro";
import ColorSpaceForHumans from "../slides/3-color-space-for-humans/ColorSpaceForHumans.astro";
import Outro from "../slides/4-outro/Outro.astro";
---

<Layout title="Savez-vous vraiment ce qu'est la couleur ? 🎨">
	<main class="reveal">
		<div class="slides">
			<Intro />
			<WhatIsColor />
			<RepresentationOfColors />
			<ColorSpaceForHumans />
			<Outro />
		</div>
	</main>
</Layout>
