---
import Layout from "../layouts/Layout.astro";
import Intro from "../slides/0-intro/Intro.astro";
import WhatIsColor from "../slides/1-what-is-color/WhatIsColor.astro";
import RepresentationOfColors from "../slides/2-representation-of-colors/RepresentationOfColors.astro";
import Title from "../slides/Title.astro";
---

<Layout title="Savez-vous vraiment ce qu'est la couleur ? 🎨">
	<main class="reveal">
		<div class="slides">
			<Title />
			<Intro />
			<WhatIsColor />
			<RepresentationOfColors />
		</div>
	</main>
</Layout>
