---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
	images: string[];
}

const { images, class: className, ...attrs } = Astro.props;
---

<div class={`stack ${className}`} {...attrs}>
	{
		images.map((src, i) => (
			<img class={i > 0 ? "fragment" : ""} data-src={src} />
		))
	}
</div>

<style>
	.stack {
		height: 100vh;
		width: 100vw;
		position: relative;
	}

	img {
		position: absolute;
		inset: 0;
		height: 100%;
		margin: auto;
		object-fit: contain;
	}
</style>
