---
import Slide from "./Slide.astro";
import titleBackground from "./assets/title-background.jpg";

interface Props {
	index?: number;
	title?: string;
	subtitle?: string;
}
const { index, title, subtitle } = Astro.props;
---

<Slide data-background-image={titleBackground.src}>
	<h1>
		{index && <span>{index}</span>}
		{title || <slot />}
	</h1>
	{subtitle && <p class="fragment">{subtitle}</p>}
</Slide>

<style lang="scss">
	span {
		background: linear-gradient(to bottom right, #0cc3ee -100%, #003369 80%);
		border-radius: 100%;
		display: inline-grid;
		height: 1.2em;
		font-size: 0.9em;
		aspect-ratio: 1;
		position: relative;

		&::after {
			content: ".";
			position: absolute;
			right: 0.3rem;
		}
	}

	h1 {
		font-size: 5.5rem;
		margin-top: -20dvh;
		text-shadow:
			0 0 2dvh rgba(0 0 0 / 0.5),
			0 0 15dvh black;
	}
	p {
		font-size: 3rem;
	}
</style>
