---
import questionBackground from "./question-background.png";
---

<div
	class="background"
	style={`background-image: url(${questionBackground.src});`}
>
	<h2>
		<span class="content"><slot /></span>
	</h2>
</div>

<style lang="scss">
	.background {
		height: 100dvh;
		background-size: cover;
		display: grid;
		place-items: center;
		filter: hue-rotate(20deg);
		background-color: rgba(0 0 0 / 0.6);
		background-blend-mode: overlay, normal;
		box-shadow: inset 0 0 20vmin rgba(0 0 0 / 0.6);
	}
	h2 {
		font-size: 6rem;
		position: relative;

		.content {
			position: relative;
			z-index: 1;
		}

		&::before {
			content: "";
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 200%;
			height: 400%;
			background: radial-gradient(
				closest-side,
				rgba(0 0 0 / 0.7) 20%,
				transparent
			);
		}
	}
</style>
