---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
	/**
	 * Use the auto-animate feature for this slide or not
	 *
	 * default: true
	 */
	animate?: boolean;
}

const { animate = true, ...attrs } = Astro.props;
---

<section data-auto-animate={animate} {...attrs}>
	<!-- sometimes the auto-animate feature doesn't work depending on the content, this extra div seems to fix it -->
	<div>
		<slot />
	</div>
</section>
