---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
	/**
	 * Use the auto-animate feature for this slide or not
	 *
	 * default: true
	 */
	animate?: boolean;
	title?: string;
}

const { animate = true, title, ...attrs } = Astro.props;
---

<section data-auto-animate={animate} {...attrs}>
	{title && <h3 class="slide-title">{title}</h3>}
	<slot />
</section>

<style>
	section:has(.slide-title) {
		top: 0 !important;
		height: 100dvh;
	}
	.slide-title {
		--r-heading-margin: 12dvh 0 5dvh;
	}
</style>
