---
import Slide from "../../components/Slide.astro";
import CIERGB from "./cie-rgb/CIERGB.svelte";
import RGBExperiment from "./rgb-experiment/RGBExperiment.svelte";
---

<Slide>
	<h1>Comment représenter la couleur ?</h1>
</Slide>

<Slide>
	<RGBExperiment client:visible />
</Slide>

<Slide>
	<CIERGB client:visible />
</Slide>

<Slide />
