---
import blue from "./assets/blue.png";
import buttons from "./assets/buttons.png";
import yellow from "./assets/yellow.png";
import srgb from "./assets/srgb.png";

const hsbImages = [srgb, blue, yellow, buttons].map(({ src }) => src);
---

<div class="r-stack">
	{
		hsbImages.map((src, i) => (
			<img class={i > 0 ? "fragment" : ""} data-src={src} />
		))
	}
</div>

<style>
	.r-stack {
		margin-top: -5%;
	}
	img {
		height: 100dvh;
	}
</style>
