---
const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/slides-template/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>

	<body>
		<slot />

		<script>
			import Reveal from "reveal.js";
			import highlightPlugin from "reveal.js/plugin/highlight/highlight";

			Reveal.initialize({
				transition: "none",
				history: true,
				progress: false,
				controls: false,
				autoAnimateDuration: 0.5,
				transitionSpeed: "fast", // for slide backgrounds
				autoAnimateEasing: "cubic-bezier(0.4, 0, 0.2, 1)",
				width: "100%",
				height: "100%",
				margin: 0,
				plugins: [highlightPlugin],
			});

			// Display a hand cursor when pressing AltLeft
			const root = document.documentElement;
			root.addEventListener("keydown", (e) => {
				if (e.code !== "AltLeft" || e.metaKey) {
					return;
				}

				root.dataset.cursor = "hand";
				root.addEventListener(
					"keyup",
					() => root.removeAttribute("data-cursor"),
					{ once: true }
				);
			});
		</script>
	</body>
</html>

<style is:global lang="scss">
	@import "reveal.js/dist/reveal.css";
	@import "reveal.js/dist/theme/night.css";
	@import "../../src/styles/highlightjs-theme-vs2015.css";

	:root {
		--r-background-color: black;
		--ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
	}

	[data-cursor="hand"] {
		cursor:
			url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='120' viewport='0 0 200 200' style='fill:black;font-size:120px;'><text y='90%'>☝️</text></svg>")
				60 60,
			auto; /*!emojicursor.app*/
	}

	.picker.rgb .IroSlider:nth-of-type(1) .IroSliderGradient {
		background: linear-gradient(
			to top,
			rgb(0, 0, 0) 0%,
			rgb(255, 0, 0) 100%
		) !important;
	}

	.picker.rgb .IroSlider:nth-of-type(2) .IroSliderGradient {
		background: linear-gradient(
			to top,
			rgb(0, 0, 0) 0%,
			rgb(0, 255, 0) 100%
		) !important;
	}

	.picker.rgb .IroSlider:nth-of-type(3) .IroSliderGradient {
		background: linear-gradient(
			to top,
			rgb(0, 0, 0) 0%,
			rgb(0, 0, 255) 100%
		) !important;
	}

	@media (min-width: 1400px) {
		mjx-container {
			font-size: 150% !important;
		}
	}

	.reveal img {
		max-width: 100%;
		max-height: 100%;
		margin: 0;
	}

	canvas {
		opacity: 0;
		width: min(90%, 1400px);

		&.loaded {
			opacity: 1;
			transition: opacity 0.2s ease-out;
		}
	}

	ul {
		line-height: 2;
		strong {
			font-size: 1.3em;
		}
	}

	.reveal img.diagram {
		height: 70dvh;
		width: auto;
		// There is an unwanted white border at the top of all images but I don't want to edit them all
		clip-path: polygon(0% 2%, 100% 2%, 100% 100%, 0% 100%);
		margin-top: -1.5%; // Compensate for the little extra space at the top
	}
</style>
