<ul>
	<li class="fragment">Pas de valeurs négatives !</li>
	<li class="fragment">
		Une des coordonnées doit représenter la luminosité de la couleur
	</li>
	<li class="fragment">...</li>
</ul>

<style>
	ul {
		line-height: 2;
	}
</style>
