<div class="color yellow">
	<span class="preview"></span>
	<span class="wavelength">580nm</span> &RightArrow;
	<strong class="value">67.388, 62.583, 6.404</strong>
</div>

<div class="color orange">
	<span class="preview"></span>
	<span class="wavelength">620nm</span> &RightArrow;
	<strong class="value">49.441, 30.363, 2.888</strong>
</div>

<div class="color white">
	<span class="preview"></span> &RightArrow;
	<strong class="value">95.047, 100.000, 108.883</strong>
</div>

<div class="color pink">
	<span class="preview"></span> &RightArrow;
	<strong class="value">70.870, 63.274, 64.969</strong>
</div>

<div class="color cyan">
	<span class="preview"></span> &RightArrow;
	<strong class="value"></span>43.801, 78.733, 106.950</strong>
</div>

<style lang="scss">
	.color {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		margin-block: 3rem;
		font-size: 2.5rem;
	}

	.wavelength {
		font-size: 1em;
	}
	.value {
		font-size: 1.3em;
	}

	.preview {
		display: inline-block;
		width: 1.5em;
		aspect-ratio: 1;
		border-radius: 100%;

		.yellow & {
			background: #ffbe00;
		}
		.orange & {
			background: #ea5602;
		}
		.white & {
			background: white;
		}
		.pink & {
			background: pink;
		}
		.cyan & {
			background: cyan;
		}
	}
	.minus {
		position: relative;
	}
	.circle {
		border-radius: 100%;
		border: 10px solid red;
		width: 4rem;
		aspect-ratio: 1;
		position: absolute;
    left: -90%;
    top: 2%;
	}
	.emoji {
		position: absolute;
		font-size: 5rem;
		left: 90%;
    top: 100%;
	}
</style>
